<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["AccountInfo.Web.styles.css"]" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    @* <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" /> *@
    @* <link rel="stylesheet" href="https://unpkg.com/@progress/kendo-theme-fluent@12.3.0/dist/fluent-main.css" /> *@
    <link rel="stylesheet"
          href="https://unpkg.com/progress/kendo-theme-fluent@12.3.0/dist/fluent-main-dark.css" />
    <link href="_content/Telerik.UI.for.Blazor/css/kendo-theme-fluent/all.css" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
